<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.O-adlam.medi</key>
    <array>
      <string>O-adlam.init</string>
      <string>O-adlam.medi</string>
    </array>
    <key>public.kern1.Yhe-adlam.medi</key>
    <array>
      <string>Yhe-adlam.init</string>
      <string>Yhe-adlam.medi</string>
    </array>
    <key>public.kern1.chi-adlam.medi</key>
    <array>
      <string>chi-adlam.init</string>
      <string>chi-adlam.medi</string>
    </array>
    <key>public.kern1.laam-adlam.medi</key>
    <array>
      <string>laam-adlam.init</string>
      <string>laam-adlam.medi</string>
    </array>
    <key>public.kern1.o-adlam.medi</key>
    <array>
      <string>o-adlam.init</string>
      <string>o-adlam.medi</string>
    </array>
    <key>public.kern2.Ha-adlam.medi</key>
    <array>
      <string>Ha-adlam.fina</string>
      <string>Ha-adlam.medi</string>
    </array>
    <key>public.kern2.laam-adlam.medi</key>
    <array>
      <string>laam-adlam.fina</string>
      <string>laam-adlam.medi</string>
    </array>
    <key>public.kern2.yhe-adlam.medi</key>
    <array>
      <string>yhe-adlam.fina</string>
      <string>yhe-adlam.medi</string>
    </array>
  </dict>
</plist>
